@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.menuLink {
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.menuLink:hover {
  color: orange !important;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d1d1d1;
}

/* button content */
.ant-popover-content .buttonContent {
  padding: 4px 16px;
}

.ant-popover-content .buttonContent:hover {
  background-color: #ccc;
  border-radius: 3px;
}
